.padre{
    background-color: black;
    width: 100vw;
    height: 700vh;
}
.header{
    background:#f3ebeb;

}
.hilera{
    margin-left: 10px;
    margin-right:10px;
}
.feed{
    width: 770px;
    height: 100%;
}
.cuadricula img{
    width: 100%;
    height: 450px;
}
.lista >div {
    width: 500px;
    height: 100%;
}
